body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.parent {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 100vw;
}

.child {
  margin: 0 auto;
  height: auto;
  text-align: center;
  border-radius: 5px;
  width: 700px;
  min-height: 700px;
  justify-self: center;
  align-self: center;
  background-color: white;
}

input {
  width: 347px;
  background-color: white;
  border: 1px solid grey;
  text-align: left;
  color: black;
  font-size: 25px;
  font-weight: 600px;
  border-radius: 5px;
}

.container {
  margin-top: 25px;
  margin-right: 40px;
  border: 1px solid black;
  height: 575px;
  width: 575px;
  margin-left: 60px;
  background-color: "white";
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.buttonsApp button {
  cursor: pointer;
  border: none;
  height: 40px;
  margin-left: 20px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  background-color: #24a0ed;
  color: white;
}