body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.parent {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 100vw;
}

.child {
  margin: 0 auto;
  height: auto;
  text-align: center;
  border-radius: 5px;
  width: 700px;
  height: 750px;
  justify-self: center;
  align-self: center;
  background: linear-gradient(to right, #16bffd, #cb3066);
}

input {
  width: 347px;
  background-color: white;
  border: 1px solid grey;
  text-align: left;
  color: black;
  font-size: 25px;
  font-weight: 600px;
  border-radius: 5px;
}

.button {
  background-image: linear-gradient(to right, #ff0084 0%, #33001b 55%, #ff0084 100%)
}

.button {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #33001b;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  margin-left: 20px;
  height: 35px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-position: right center;
  color: #fff;
}

.container {
  margin-top: 25px;
  margin-right: 40px;
  height: 575px;
  width: 575px;
  margin-left: 60px;
  background-color: "white";
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: white;
}